.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-small {
  flex: 1;
}

.card {
  padding: 18px;
}

.green {
  color: green
}

.red {
  color: red
}